<div class="logo">
    Bible Verse App
</div>
<div class="Menu">
    <ul>
        <li>@Html.ActionLink("Add Verse", "Index", "BibleVerse")</li>
        <li>@Html.ActionLink("Search", "Search", "BibleVerse")</li>
    </ul>
</div>