@model List<Activity2Part1.Models.ButtonModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Button</title>
</head>
<body>
    <div>
        @Html.Label("Welcome to Razor", new { style = "text-align:center; font-size:24pt; font-face:Arial;" })
    </div>
    <div>
        @Html.Label("Play with Buttons", new { style = "text-align:left; font-size:18pt; font-face:Arial;" })
    </div>
    <div>
        @using (Html.BeginForm("OnButtonClick", "Button", FormMethod.Post))
        {
            <button type="submit" name="mine" value="1">
                @if (Model[0].State)
                {
                    <img src="~/Images/button1.png" />
                }
                else
                {
                    <img src="~/Images/button2.png" />
                }
            </button><br />

            <button type="submit" name="mine" value="2">
                @if (Model[1].State)
                {
                    <img src="~/Images/button1.png" />
                }
                else
                {
                    <img src="~/Images/button2.png" />
                }
            </button><br />
        }
    </div>
</body>
</html>
